h1 {
  text-decoration: underline;
  margin-left: 20px;
}

.img1,
.img2 {
  border: solid 5px gray;
  height: 350px;
  width: 275px;
  border-radius: 20px;
}

.images-container {
  display: flex;
  justify-content: space-around;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgcaption1,
.imgcaption2 {
  height: 20px;
  font-style: italic;
}

body {
  background-color: cornsilk;
}

button {
  border: solid 2px gray;
  font-weight: bold;
  border-radius: 5px;
}